body{
	background-color: #111111;
	font-family: "Roboto Flex", sans-serif;
	font-size: 14px;
	color: white;
	margin: 0;
	padding: 0;
}
.clickable{
	cursor: pointer;
}
a{
	text-decoration: none;
	color: white;
}